<hr>
<div>
    <p>This is a rails test app developed by <a href="http://akshaykatyal.info" target="_blank">Akshay Katyal</a>. Check the source code on <a href="http://github.com/MrDHat/FileBacon" target="_blank">GitHub</a>. </p>
</div>